.pagination {
  display: inline-block;
  margin-top: 1%;
}

.pagination a {
  color: white;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #337ab7;
  color: white;
  border: 1px solid #337ab7;
}

.pagination a:hover:not(.active) {
  background-color: darkgray;
}

.pagination a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
